# **Zillow Clustering Project**

## Project Goals
- Create documented files to clean and prepare Zillow dataset for processing by clustering algorithm for further modeling via a regression ML algorithm.
- Use clustering to identify driving features of log error and to potentially create new feature combinations or simply to use the cluster as a driving feature.
- Evaluate the clusters and try to extrapolate usefull info from them.
- Pass updated dataframe with new features/chosen features/cluster features to a regression model.
- Present on my final Jupyter Notebook, giving a high-level overview of the process used to create the clusters and how the information garnered from them is useful to my regression model.

## Initial Hypotheses:
***
>   - $H_{i}$: The key drivers of log error will be linked to tax value clusters and area clusters
***

## Plan:
- [x] Create repo on github to save all files related to the project.
- [x] Create README.md with goals, initial hypotheses, data dictionary, and outline plans for the project in a trello board.
- [x] Acqiure zillow data using acquire.py file drawing directly from Codeups `zillow` database with SQL queries. Create functions for use in conjunction with prepare.py.
- [] Clean, tidy, and encode data in such a way that it is usable in a machine learning algorithm. Includes dropping unneccesary columns, creating dummies where needed and changing string values to numeric values and getting rid of outliers
- [] Utilize recursive feature elimination and clustering algorithms to search the data for meaningful driving features of log error.
- [] Create hypotheses based on preliminary statistical tests
- [] Test hypotheses with tests such as t-test, chi-squared to determine the viability of said hypotheses by comparing p-values to alpha.
- [] Establish a baseline accuracy.
- [] Train three different classification models from OLS, GLM, and Lasso + Lars, testing a variety of parameters and features, both engineered and pre-existing.
- [] Evaluate models using RMSE, R^2 score, and other metrics on in-sample and out-of-sample datasets.
- [] Once a single, best preforming model has been chosen, evaluate the preformance of the model on the test dataset.
- [] Present my jupyter notebook to Codeup instructors

In [1]:
# Imports from my .py scripts and modules necessary 
# for modeling and exploring data 
import wrangle as wr
import explore as ex


import random
from sklearn.preprocessing import PolynomialFeatures
import sklearn.preprocessing
import scipy.stats as stats
from sklearn.cluster import KMeans

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import itertools
from datetime import date

import warnings
warnings.filterwarnings("ignore")

## Wrangle

### Acquire

In [2]:
# Acquire Zillow data from MySQL database

zillow_raw = wr.acquire_zillow()

In [3]:
zillow_raw.shape

(77381, 67)

In [4]:
# Sample of raw data
zillow_raw.head().T

id,1727539,1387261,11677,2288172,1970746
parcelid,14297519,17052889,14186244,12177905,10887214
airconditioningtypeid,NaN,NaN,NaN,NaN,1.0
architecturalstyletypeid,NaN,NaN,NaN,NaN,NaN
basementsqft,NaN,NaN,NaN,NaN,NaN
bathroomcnt,3.5,1.0,2.0,3.0,3.0
...,...,...,...,...,...
buildingclassdesc,None,None,None,None,None
heatingorsystemdesc,None,None,None,Central,Central
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Condominium
storydesc,None,None,None,None,None
typeconstructiondesc,None,None,None,None,None

In [5]:
# Overview of raw data
wr.summarize(zillow_raw)

=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77381 entries, 1727539 to 2455685
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   airconditioningtypeid         24953 non-null  float64
 2   architecturalstyletypeid      206 non-null    float64
 3   basementsqft                  50 non-null     float64
 4   bathroomcnt                   77381 non-null  float64
 5   bedroomcnt                    77381 non-null  float64
 6   buildingclasstypeid           15 non-null     float64
 7   buildingqualitytypeid         49672 non-null  float64
 8   calculatedbathnbr             76772 non-null  float64
 9   decktypeid                    614 non-null    float64
 10  finishedfloor1squarefeet      6023 non-null   float64
 11  calculatedfinishedsquarefeet  77185 non-null  float64
 12  finishedsquarefeet12          73749 non-null  float64
 13  finishedsquarefeet13          41 non-null     float64
 14  finishedsquarefeet15          3009 non-null   float64
 15  finishedsquarefeet50          6023 non-null   float64
 16  finishedsquarefeet6           386 non-null    float64
 17  fips                          77381 non-null  float64
 18  fireplacecnt                  8276 non-null   float64
 19  fullbathcnt                   76772 non-null  float64
 20  garagecarcnt                  25474 non-null  float64
 21  garagetotalsqft               25474 non-null  float64
 22  hashottuborspa                1538 non-null   float64
 23  heatingorsystemtypeid         49440 non-null  float64
 24  latitude                      77381 non-null  float64
 25  longitude                     77381 non-null  float64
 26  lotsizesquarefeet             69142 non-null  float64
 27  poolcnt                       16137 non-null  float64
 28  poolsizesum                   867 non-null    float64
 29  pooltypeid10                  464 non-null    float64
 30  pooltypeid2                   1074 non-null   float64
 31  pooltypeid7                   15042 non-null  float64
 32  propertycountylandusecode     77381 non-null  object
 33  propertylandusetypeid         77381 non-null  float64
 34  propertyzoningdesc            50331 non-null  object
 35  rawcensustractandblock        77381 non-null  float64
 36  regionidcity                  75910 non-null  float64
 37  regionidcounty                77381 non-null  float64
 38  regionidneighborhood          30890 non-null  float64
 39  regionidzip                   77331 non-null  float64
 40  roomcnt                       77381 non-null  float64
 41  storytypeid                   50 non-null     float64
 42  threequarterbathnbr           10096 non-null  float64
 43  typeconstructiontypeid        222 non-null    float64
 44  unitcnt                       50563 non-null  float64
 45  yardbuildingsqft17            2388 non-null   float64
 46  yardbuildingsqft26            70 non-null     float64
 47  yearbuilt                     77118 non-null  float64
 48  numberofstories               17560 non-null  float64
 49  fireplaceflag                 172 non-null    float64
 50  structuretaxvaluedollarcnt    77269 non-null  float64
 51  taxvaluedollarcnt             77380 non-null  float64
 52  assessmentyear                77381 non-null  float64
 53  landtaxvaluedollarcnt         77379 non-null  float64
 54  taxamount                     77376 non-null  float64
 55  taxdelinquencyflag            2886 non-null   object
 56  taxdelinquencyyear            2886 non-null   float64
 57  censustractandblock           77137 non-null  float64
 58  logerror                      77381 non-null  float64
 59  transactiondate               77381 non-null  object
 60  airconditioningdesc           24953 non-null  object
 61  architecturalstyledesc        206 non-null    object
 62  buildingclassdesc             15 non-null     object
 63  heatingorsystemdesc           49440 non-null  object
 64  propertylandusedesc           77381 non-null  object
 65  storydesc                     50 non-null     object
 66  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(1), object(11)
memory usage: 40.1+ MB
None
=====================================================


Dataframe Description:
           parcelid  airconditioningtypeid  architecturalstyletypeid  \
count  7.738100e+04           24953.000000                206.000000
mean   1.300715e+07               1.813289                  7.388350
std    3.481346e+06               2.967894                  2.734542
min    1.071186e+07               1.000000                  2.000000
25%    1.153830e+07               1.000000                  7.000000
50%    1.253157e+07               1.000000                  7.000000
75%    1.421183e+07               1.000000                  7.000000
max    1.676893e+08              13.000000                 21.000000

       basementsqft   bathroomcnt    bedroomcnt  buildingclasstypeid  \
count     50.000000  77381.000000  77381.000000            15.000000
mean     679.720000      2.299130      3.053489             3.933333
std      689.703546      0.996651      1.139096             0.258199
min       38.000000      0.000000      0.000000             3.000000
25%      273.000000      2.000000      2.000000             4.000000
50%      515.000000      2.000000      3.000000             4.000000
75%      796.500000      3.000000      4.000000             4.000000
max     3560.000000     18.000000     16.000000             4.000000

       buildingqualitytypeid  calculatedbathnbr  decktypeid  ...  \
count           49672.000000       76772.000000       614.0  ...
mean                6.534587           2.316867        66.0  ...
std                 1.721953           0.979755         0.0  ...
min                 1.000000           1.000000        66.0  ...
25%                 6.000000           2.000000        66.0  ...
50%                 6.000000           2.000000        66.0  ...
75%                 8.000000           3.000000        66.0  ...
max                12.000000          18.000000        66.0  ...

       numberofstories  fireplaceflag  structuretaxvaluedollarcnt  \
count     17560.000000          172.0                7.726900e+04
mean          1.434738            1.0                1.893145e+05
std           0.544569            0.0                2.300874e+05
min           1.000000            1.0                4.400000e+01
25%           1.000000            1.0                8.426500e+04
50%           1.000000            1.0                1.364990e+05
75%           2.000000            1.0                2.187870e+05
max           6.000000            1.0                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.738000e+04         77381.0           7.737900e+04
mean        4.901345e+05          2016.0           3.010954e+05
std         6.534440e+05             0.0           4.925960e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.070000e+05          2016.0           8.550400e+04
50%         3.589755e+05          2016.0           2.033720e+05
75%         5.690015e+05          2016.0           3.667965e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  taxdelinquencyyear  censustractandblock      logerror
count   77376.000000         2886.000000         7.713700e+04  77381.000000
mean     5995.532346           14.087318         6.049673e+13      0.016625
std      7622.844153            2.185663         1.535242e+12      0.170191
min        19.920000            3.000000         6.037101e+13     -4.655420
25%      2715.632500           14.000000         6.037311e+13     -0.024377
50%      4450.695000           15.000000         6.037603e+13      0.006627
75%      6927.790000           15.000000         6.059042e+13      0.039203
max    586639.300000           99.000000         4.830301e+14      5.262999

[8 rows x 56 columns]
=====================================================
DataFrame value counts:
(10554877.537, 26409601.2]    77350
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       29
Name: parcelid, dtype: int64
(0.987, 2.2]    23133
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1574
Name: airconditioningtypeid, dtype: int64
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   172
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
(-0.019, 1.8]    14909
(1.8, 3.6]       56436
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
(-0.017, 1.6]     4209
(1.6, 3.2]       49531
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
(0.988, 2.1]       35
(2.1, 3.2]        329
(3.2, 4.3]       9483
(4.3, 5.4]       2088
(5.4, 6.5]      13462
(6.5, 7.6]       5971
(7.6, 8.7]      14645
(8.7, 9.8]       2299
(9.8, 10.9]       313
(10.9, 12.0]     1047
Name: buildingqualitytypeid, dtype: int64
(0.982, 2.7]    52390
(2.7, 4.4]      21699
(4.4, 6.1]       2361
(6.1, 7.8]        176
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(37.131, 730.8]      702
(730.8, 1417.6]     3025
(1417.6, 2104.4]    1733
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
(92.487, 3679.2]      73880
(3679.2, 7230.4]       3134
(7230.4, 10781.6]       148
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
(106.198, 2308.1]     59593
(2308.1, 4488.2]      12862
(4488.2, 6668.3]       1069
(6668.3, 8848.4]        161
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 5
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
(562.957, 4102.2]     2811
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
(31.576, 1286.3]      3138
(1286.3, 2528.6]      2552
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    50551
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20593
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6237
Name: fips, dtype: int64
(0.995, 1.4]    7008
(1.4, 1.8]         0
(1.8, 2.2]       995
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
(0.982, 2.7]    52407
(2.7, 4.4]      22399
(4.4, 6.1]       1699
(6.1, 7.8]        121
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64
(-0.015, 1.4]     5906
(1.4, 2.8]       18608
(2.8, 4.2]         887
(4.2, 5.6]          45
(5.6, 7.0]          18
(7.0, 8.4]           2
(8.4, 9.8]           2
(9.8, 11.2]          4
(11.2, 12.6]         0
(12.6, 14.0]         2
Name: garagecarcnt, dtype: int64
(-4.252000000000001, 425.1]    11937
(425.1, 850.2]                 13160
(850.2, 1275.3]                  323
(1275.3, 1700.4]                  38
(1700.4, 2125.5]                   6
(2125.5, 2550.6]                   2
(2550.6, 2975.7]                   4
(2975.7, 3400.8]                   2
(3400.8, 3825.9]                   1
(3825.9, 4251.0]                   1
Name: garagetotalsqft, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1538
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: hashottuborspa, dtype: int64
(0.976, 3.3]    33563
(3.3, 5.6]          0
(5.6, 7.9]      14841
(7.9, 10.2]         3
(10.2, 12.5]        1
(12.5, 14.8]       59
(14.8, 17.1]        0
(17.1, 19.4]       23
(19.4, 21.7]      104
(21.7, 24.0]      846
Name: heatingorsystemtypeid, dtype: int64
(33338047.759000003, 33487451.0]     1045
(33487451.0, 33635375.0]             5318
(33635375.0, 33783299.0]            10047
(33783299.0, 33931223.0]            14789
(33931223.0, 34079147.0]            14222
(34079147.0, 34227071.0]            18893
(34227071.0, 34374995.0]             6261
(34374995.0, 34522919.0]             3146
(34522919.0, 34670843.0]             2321
(34670843.0, 34818767.0]             1339
Name: latitude, dtype: int64
(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       1997
(-119091260.0, -118899182.0]       1494
(-118899182.0, -118707104.0]       2660
(-118707104.0, -118515026.0]       5926
(-118515026.0, -118322948.0]      15424
(-118322948.0, -118130870.0]      15361
(-118130870.0, -117938792.0]      14219
(-117938792.0, -117746714.0]      12689
(-117746714.0, -117554636.0]       7390
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    68856
(697313.4, 1394390.8]               227
(1394390.8, 2091468.2]               40
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64
(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       16137
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: poolcnt, dtype: int64
(22.523, 171.6]       7
(171.6, 319.2]       47
(319.2, 466.8]      322
(466.8, 614.4]      306
(614.4, 762.0]      123
(762.0, 909.6]       48
(909.6, 1057.2]       7
(1057.2, 1204.8]      5
(1204.8, 1352.4]      0
(1352.4, 1500.0]      2
Name: poolsizesum, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       464
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: pooltypeid10, dtype: int64
(0.9989, 0.9992]       0
(0.9992, 0.9994]       0
(0.9994, 0.9996]       0
(0.9996, 0.9998]       0
(0.9998, 1.0]       1074
(1.0, 1.0002]          0
(1.0002, 1.0004]       0
(1.0004, 1.0006]       0
(1.0006, 1.0008]       0
(1.0008, 1.001]        0
Name: pooltypeid2, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       15042
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: pooltypeid7, dtype: int64
0100    26714
122     13045
010C     8813
0101     6399
34       4922
        ...
0115        1
0131        1
1432        1
040G        1
020E        1
Name: propertycountylandusecode, Length: 75, dtype: int64
(30.755, 55.4]       15
(55.4, 79.8]          0
(79.8, 104.2]         0
(104.2, 128.6]        0
(128.6, 153.0]        0
(153.0, 177.4]        0
(177.4, 201.8]        0
(201.8, 226.2]        0
(226.2, 250.6]     3271
(250.6, 275.0]    74095
Name: propertylandusetypeid, dtype: int64
LAR1         6747
LAR3         2437
LARS         1389
LBR1N        1222
LARD1.5      1127
             ...
PSR47200*       1
LBRR2I          1
PD SP           1
AVR2*           1
BFA15000*       1
Name: propertyzoningdesc, Length: 1907, dtype: int64
(60370272.019999996, 60444919.091]    50551
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          20593
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.022]              0
(60962275.022, 61036183.012]              0
(61036183.012, 61110091.002]           6237
Name: rawcensustractandblock, dtype: int64
(3097.9339999999997, 42797.5]    55659
(42797.5, 82104.0]               18118
(82104.0, 121410.5]               1053
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                24
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]              1056
Name: regionidcity, dtype: int64
(1284.184, 1467.5]    20593
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       6237
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      50551
Name: regionidcounty, dtype: int64
(6194.784, 82673.5]     11546
(82673.5, 158395.0]      4585
(158395.0, 234116.5]       43
(234116.5, 309838.0]    11551
(309838.0, 385559.5]       77
(385559.5, 461281.0]     1948
(461281.0, 537002.5]        0
(537002.5, 612724.0]        0
(612724.0, 688445.5]       66
(688445.5, 764167.0]     1074
Name: regionidneighborhood, dtype: int64
(95678.306, 126351.3]    77319
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64
(-0.016, 1.5]    59809
(1.5, 3.0]         226
(3.0, 4.5]        1415
(4.5, 6.0]        7529
(6.0, 7.5]        3838
(7.5, 9.0]        4065
(9.0, 10.5]        339
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64
(6.992, 6.994]     0
(6.994, 6.996]     0
(6.996, 6.997]     0
(6.997, 6.999]     0
(6.999, 7.0]      50
(7.0, 7.001]       0
(7.001, 7.003]     0
(7.003, 7.004]     0
(7.004, 7.006]     0
(7.006, 7.007]     0
Name: storytypeid, dtype: int64
(0.993, 1.6]    10012
(1.6, 2.2]         75
(2.2, 2.8]          0
(2.8, 3.4]          8
(3.4, 4.0]          0
(4.0, 4.6]          0
(4.6, 5.2]          0
(5.2, 5.8]          0
(5.8, 6.4]          0
(6.4, 7.0]          1
Name: threequarterbathnbr, dtype: int64
(3.99, 4.9]       1
(4.9, 5.8]        0
(5.8, 6.7]      219
(6.7, 7.6]        0
(7.6, 8.5]        0
(8.5, 9.4]        0
(9.4, 10.3]       1
(10.3, 11.2]      0
(11.2, 12.1]      0
(12.1, 13.0]      1
Name: typeconstructiontypeid, dtype: int64
(0.763, 24.6]     50560
(24.6, 48.2]          2
(48.2, 71.8]          0
(71.8, 95.4]          0
(95.4, 119.0]         0
(119.0, 142.6]        0
(142.6, 166.2]        0
(166.2, 189.8]        0
(189.8, 213.4]        0
(213.4, 237.0]        1
Name: unitcnt, dtype: int64
(7.819, 329.0]      1635
(329.0, 647.0]       607
(647.0, 965.0]        95
(965.0, 1283.0]       34
(1283.0, 1601.0]       9
(1601.0, 1919.0]       1
(1919.0, 2237.0]       2
(2237.0, 2555.0]       2
(2555.0, 2873.0]       1
(2873.0, 3191.0]       2
Name: yardbuildingsqft17, dtype: int64
(11.143, 97.6]    24
(97.6, 183.2]     14
(183.2, 268.8]    10
(268.8, 354.4]     7
(354.4, 440.0]     4
(440.0, 525.6]     6
(525.6, 611.2]     2
(611.2, 696.8]     1
(696.8, 782.4]     1
(782.4, 868.0]     1
Name: yardbuildingsqft26, dtype: int64
(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]         90
(1900.8, 1920.0]       1743
(1920.0, 1939.2]       6688
(1939.2, 1958.4]      18463
(1958.4, 1977.6]      20355
(1977.6, 1996.8]      19097
(1996.8, 2016.0]      10678
Name: yearbuilt, dtype: int64
(0.994, 1.5]    10366
(1.5, 2.0]       6757
(2.0, 2.5]          0
(2.5, 3.0]        436
(3.0, 3.5]          0
(3.5, 4.0]          0
(4.0, 4.5]          0
(4.5, 5.0]          0
(5.0, 5.5]          0
(5.5, 6.0]          1
Name: numberofstories, dtype: int64
(0.9989, 0.9992]      0
(0.9992, 0.9994]      0
(0.9994, 0.9996]      0
(0.9996, 0.9998]      0
(0.9998, 1.0]       172
(1.0, 1.0002]         0
(1.0002, 1.0004]      0
(1.0004, 1.0006]      0
(1.0006, 1.0008]      0
(1.0008, 1.001]       0
Name: fireplaceflag, dtype: int64
(-11377.747, 1142218.6]     76665
(1142218.6, 2284393.2]        493
(2284393.2, 3426567.8]         73
(3426567.8, 4568742.4]         19
(4568742.4, 5710917.0]          9
(5710917.0, 6853091.6]          2
(6853091.6, 7995266.2]          6
(7995266.2, 9137440.8]          0
(9137440.8, 10279615.4]         1
(10279615.4, 11421790.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64
(-48060.236999999994, 4907023.6]    77156
(4907023.6, 9813047.2]                184
(9813047.2, 14719070.8]                26
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      77381
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64
(-48791.03799999999, 4895364.7]    77270
(4895364.7, 9790568.4]                88
(9790568.4, 14685772.1]               14
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64
(-566.6999999999999, 58681.858]    77163
(58681.858, 117343.796]              177
(117343.796, 176005.734]              22
(176005.734, 234667.672]               9
(234667.672, 293329.61]                4
(293329.61, 351991.548]                0
(351991.548, 410653.486]               0
(410653.486, 469315.424]               0
(469315.424, 527977.362]               0
(527977.362, 586639.3]                 1
Name: taxamount, dtype: int64
Y    2886
Name: taxdelinquencyflag, dtype: int64
(2.903, 12.6]     351
(12.6, 22.2]     2534
(22.2, 31.8]        0
(31.8, 41.4]        0
(41.4, 51.0]        0
(51.0, 60.6]        0
(60.6, 70.2]        0
(70.2, 79.8]        0
(79.8, 89.4]        0
(89.4, 99.0]        1
Name: taxdelinquencyyear, dtype: int64
(59948352007016.984, 102636920499301.5]    77136
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64
(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       142
(-0.688, 0.304]     75340
(0.304, 1.296]       1684
(1.296, 2.287]        102
(2.287, 3.279]         71
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64
2017-06-30    1189
2017-04-28     911
2017-05-31     867
2017-07-28     814
2017-08-31     781
              ...
2017-03-12       1
2017-07-22       1
2017-08-05       1
2017-08-06       1
2018-05-25       1
Name: transactiondate, Length: 265, dtype: int64
Central          23133
Yes               1574
None               167
Wall Unit           53
Refrigeration       26
Name: airconditioningdesc, dtype: int64
Contemporary     172
Conventional      19
Ranch/Rambler      7
Bungalow           5
Cape Cod           3
Name: architecturalstyledesc, dtype: int64
Buildings having wood or wood and steel frames                                                                                                                                                                                             14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.     1
Name: buildingclassdesc, dtype: int64
Central       33550
Floor/Wall    14065
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64
Single Family Residential                     52320
Condominium                                   19294
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1944
Quadruplex (4 Units, Any Combination)           727
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      74
Manufactured, Modular, Prefabricated Homes       58
Residential General                              37
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64
Basement    50
Name: storydesc, dtype: int64
Frame       219
Masonry       1
Metal         1
Concrete      1
Name: typeconstructiondesc, dtype: int64
=====================================================
nulls in dataframe by column:

                          num_rows_missing  percent_rows_missing
parcelid                                 0              0.000000
airconditioningtypeid                52428             67.753066
architecturalstyletypeid             77175             99.733785
basementsqft                         77331             99.935385
bathroomcnt                              0              0.000000
...                                    ...                   ...
buildingclassdesc                    77366             99.980615
heatingorsystemdesc                  27941             36.108347
propertylandusedesc                      0              0.000000
storydesc                            77331             99.935385
typeconstructiondesc                 77159             99.713108

[67 rows x 2 columns]
=====================================================
nulls in dataframe by row:
   num_cols_missing percent_cols_missing     id
0                23    34.32835820895522      2
1                24    35.82089552238806     13
2                25     37.3134328358209     24
3                26    38.80597014925373     65
4                27   40.298507462686565    316
5                28     41.7910447761194    455
6                29    43.28358208955223   5270
7                30   44.776119402985074   3455
8                31    46.26865671641791   9891
9                32    47.76119402985074  12579
10               33    49.25373134328358  14782
11               34    50.74626865671642  13327
12               35    52.23880597014925   5148
13               36    53.73134328358209   5775
14               37   55.223880597014926   3620
15               38    56.71641791044776   1925
16               39     58.2089552238806    285
17               40    59.70149253731343    230
18               41    61.19402985074627     29
19               42    62.68656716417911     23
20               43    64.17910447761194     28
21               44    65.67164179104478     78
22               45    67.16417910447761     50
23               46    68.65671641791045      5
24               47     70.1492537313433      3
25               48    71.64179104477611      3
=====================================================
Column Stats:
                                count          mean           std  \
parcelid                      77381.0  1.300715e+07  3.481346e+06
airconditioningtypeid         24953.0  1.813289e+00  2.967894e+00
architecturalstyletypeid        206.0  7.388350e+00  2.734542e+00
basementsqft                     50.0  6.797200e+02  6.897035e+02
bathroomcnt                   77381.0  2.299130e+00  9.966507e-01
bedroomcnt                    77381.0  3.053489e+00  1.139096e+00
buildingclasstypeid              15.0  3.933333e+00  2.581989e-01
buildingqualitytypeid         49672.0  6.534587e+00  1.721953e+00
calculatedbathnbr             76772.0  2.316867e+00  9.797549e-01
decktypeid                      614.0  6.600000e+01  0.000000e+00
finishedfloor1squarefeet       6023.0  1.366513e+03  6.713081e+02
calculatedfinishedsquarefeet  77185.0  1.785220e+03  9.540493e+02
finishedsquarefeet12          73749.0  1.760523e+03  9.340243e+02
finishedsquarefeet13             41.0  1.389854e+03  1.235317e+02
finishedsquarefeet15           3009.0  2.357792e+03  1.188775e+03
finishedsquarefeet50           6023.0  1.381772e+03  7.264689e+02
finishedsquarefeet6             386.0  2.082500e+03  1.240383e+03
fips                          77381.0  6.048819e+03  2.074820e+01
fireplacecnt                   8276.0  1.191155e+00  4.910796e-01
fullbathcnt                   76772.0  2.250482e+00  9.665521e-01
garagecarcnt                  25474.0  1.815459e+00  5.883449e-01
garagetotalsqft               25474.0  3.501120e+02  2.616816e+02
hashottuborspa                 1538.0  1.000000e+00  0.000000e+00
heatingorsystemtypeid         49440.0  3.920510e+00  3.592779e+00
latitude                      77381.0  3.400837e+07  2.653888e+05
longitude                     77381.0 -1.182036e+08  3.594826e+05
lotsizesquarefeet             69142.0  2.996928e+04  1.233711e+05
poolcnt                       16137.0  1.000000e+00  0.000000e+00
poolsizesum                     867.0  5.179170e+02  1.567160e+02
pooltypeid10                    464.0  1.000000e+00  0.000000e+00
pooltypeid2                    1074.0  1.000000e+00  0.000000e+00
pooltypeid7                   15042.0  1.000000e+00  0.000000e+00
propertylandusetypeid         77381.0  2.618263e+02  5.141199e+00
rawcensustractandblock        77381.0  6.049129e+07  2.059052e+05
regionidcity                  75910.0  3.367124e+04  4.716982e+04
regionidcounty                77381.0  2.534158e+03  8.015934e+02
regionidneighborhood          30890.0  1.877349e+05  1.651188e+05
regionidzip                   77331.0  9.658709e+04  3.798347e+03
roomcnt                       77381.0  1.476952e+00  2.824386e+00
storytypeid                      50.0  7.000000e+00  0.000000e+00
threequarterbathnbr           10096.0  1.009608e+00  1.186301e-01
typeconstructiontypeid          222.0  6.040541e+00  5.572847e-01
unitcnt                       50563.0  1.110021e+00  1.171154e+00
yardbuildingsqft17             2388.0  3.054112e+02  2.383928e+02
yardbuildingsqft26               70.0  2.163857e+02  1.901775e+02
yearbuilt                     77118.0  1.968636e+03  2.378603e+01
numberofstories               17560.0  1.434738e+00  5.445687e-01
fireplaceflag                   172.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    77269.0  1.893145e+05  2.300874e+05
taxvaluedollarcnt             77380.0  4.901345e+05  6.534440e+05
assessmentyear                77381.0  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         77379.0  3.010954e+05  4.925960e+05
taxamount                     77376.0  5.995532e+03  7.622844e+03
taxdelinquencyyear             2886.0  1.408732e+01  2.185663e+00
censustractandblock           77137.0  6.049673e+13  1.535242e+12
logerror                      77381.0  1.662499e-02  1.701908e-01

                                       min           25%           50%  \
parcelid                      1.071186e+07  1.153830e+07  1.253157e+07
airconditioningtypeid         1.000000e+00  1.000000e+00  1.000000e+00
architecturalstyletypeid      2.000000e+00  7.000000e+00  7.000000e+00
basementsqft                  3.800000e+01  2.730000e+02  5.150000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  2.000000e+00  3.000000e+00
buildingclasstypeid           3.000000e+00  4.000000e+00  4.000000e+00
buildingqualitytypeid         1.000000e+00  6.000000e+00  6.000000e+00
calculatedbathnbr             1.000000e+00  2.000000e+00  2.000000e+00
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
finishedfloor1squarefeet      4.400000e+01  9.550000e+02  1.257000e+03
calculatedfinishedsquarefeet  1.280000e+02  1.182000e+03  1.543000e+03
finishedsquarefeet12          1.280000e+02  1.172000e+03  1.523000e+03
finishedsquarefeet13          1.056000e+03  1.344000e+03  1.440000e+03
finishedsquarefeet15          5.980000e+02  1.625000e+03  2.094000e+03
finishedsquarefeet50          4.400000e+01  9.560000e+02  1.259000e+03
finishedsquarefeet6           3.800000e+02  9.937500e+02  1.812500e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
fullbathcnt                   1.000000e+00  2.000000e+00  2.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
garagetotalsqft               0.000000e+00  0.000000e+00  4.360000e+02
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
heatingorsystemtypeid         1.000000e+00  2.000000e+00  2.000000e+00
latitude                      3.333953e+07  3.381457e+07  3.402200e+07
longitude                    -1.194754e+08 -1.184153e+08 -1.181808e+08
lotsizesquarefeet             2.360000e+02  5.700000e+03  7.206000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
poolsizesum                   2.400000e+01  4.240000e+02  5.000000e+02
pooltypeid10                  1.000000e+00  1.000000e+00  1.000000e+00
pooltypeid2                   1.000000e+00  1.000000e+00  1.000000e+00
pooltypeid7                   1.000000e+00  1.000000e+00  1.000000e+00
propertylandusetypeid         3.100000e+01  2.610000e+02  2.610000e+02
rawcensustractandblock        6.037101e+07  6.037311e+07  6.037603e+07
regionidcity                  3.491000e+03  1.244700e+04  2.521800e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidneighborhood          6.952000e+03  4.673600e+04  1.188490e+05
regionidzip                   9.598200e+04  9.619300e+04  9.638900e+04
roomcnt                       0.000000e+00  0.000000e+00  0.000000e+00
storytypeid                   7.000000e+00  7.000000e+00  7.000000e+00
threequarterbathnbr           1.000000e+00  1.000000e+00  1.000000e+00
typeconstructiontypeid        4.000000e+00  6.000000e+00  6.000000e+00
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yardbuildingsqft17            1.100000e+01  1.700000e+02  2.510000e+02
yardbuildingsqft26            1.200000e+01  6.150000e+01  1.645000e+02
yearbuilt                     1.824000e+03  1.953000e+03  1.970000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    4.400000e+01  8.426500e+04  1.364990e+05
taxvaluedollarcnt             1.000000e+03  2.070000e+05  3.589755e+05
assessmentyear                2.016000e+03  2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         1.610000e+02  8.550400e+04  2.033720e+05
taxamount                     1.992000e+01  2.715632e+03  4.450695e+03
taxdelinquencyyear            3.000000e+00  1.400000e+01  1.500000e+01
censustractandblock           6.037101e+13  6.037311e+13  6.037603e+13
logerror                     -4.655420e+00 -2.437679e-02  6.626972e-03

                                       75%           max         range
parcelid                      1.421183e+07  1.676893e+08  1.569775e+08
airconditioningtypeid         1.000000e+00  1.300000e+01  1.200000e+01
architecturalstyletypeid      7.000000e+00  2.100000e+01  1.900000e+01
basementsqft                  7.965000e+02  3.560000e+03  3.522000e+03
bathroomcnt                   3.000000e+00  1.800000e+01  1.800000e+01
bedroomcnt                    4.000000e+00  1.600000e+01  1.600000e+01
buildingclasstypeid           4.000000e+00  4.000000e+00  1.000000e+00
buildingqualitytypeid         8.000000e+00  1.200000e+01  1.100000e+01
calculatedbathnbr             3.000000e+00  1.800000e+01  1.700000e+01
decktypeid                    6.600000e+01  6.600000e+01  0.000000e+00
finishedfloor1squarefeet      1.615000e+03  6.912000e+03  6.868000e+03
calculatedfinishedsquarefeet  2.113000e+03  3.564000e+04  3.551200e+04
finishedsquarefeet12          2.076000e+03  2.192900e+04  2.180100e+04
finishedsquarefeet13          1.440000e+03  1.560000e+03  5.040000e+02
finishedsquarefeet15          2.838000e+03  3.564000e+04  3.504200e+04
finishedsquarefeet50          1.621500e+03  1.246700e+04  1.242300e+04
finishedsquarefeet6           3.053500e+03  5.598000e+03  5.218000e+03
fips                          6.059000e+03  6.111000e+03  7.400000e+01
fireplacecnt                  1.000000e+00  5.000000e+00  4.000000e+00
fullbathcnt                   3.000000e+00  1.800000e+01  1.700000e+01
garagecarcnt                  2.000000e+00  1.400000e+01  1.400000e+01
garagetotalsqft               4.930000e+02  4.251000e+03  4.251000e+03
hashottuborspa                1.000000e+00  1.000000e+00  0.000000e+00
heatingorsystemtypeid         7.000000e+00  2.400000e+01  2.300000e+01
latitude                      3.417439e+07  3.481877e+07  1.479240e+06
longitude                    -1.179284e+08 -1.175546e+08  1.920780e+06
lotsizesquarefeet             1.183100e+04  6.971010e+06  6.970774e+06
poolcnt                       1.000000e+00  1.000000e+00  0.000000e+00
poolsizesum                   6.000000e+02  1.500000e+03  1.476000e+03
pooltypeid10                  1.000000e+00  1.000000e+00  0.000000e+00
pooltypeid2                   1.000000e+00  1.000000e+00  0.000000e+00
pooltypeid7                   1.000000e+00  1.000000e+00  0.000000e+00
propertylandusetypeid         2.660000e+02  2.750000e+02  2.440000e+02
rawcensustractandblock        6.059042e+07  6.111009e+07  7.390799e+05
regionidcity                  4.545700e+04  3.965560e+05  3.930650e+05
regionidcounty                3.101000e+03  3.101000e+03  1.815000e+03
regionidneighborhood          2.747650e+05  7.641670e+05  7.572150e+05
regionidzip                   9.698700e+04  3.996750e+05  3.036930e+05
roomcnt                       0.000000e+00  1.500000e+01  1.500000e+01
storytypeid                   7.000000e+00  7.000000e+00  0.000000e+00
threequarterbathnbr           1.000000e+00  7.000000e+00  6.000000e+00
typeconstructiontypeid        6.000000e+00  1.300000e+01  9.000000e+00
unitcnt                       1.000000e+00  2.370000e+02  2.360000e+02
yardbuildingsqft17            3.640000e+02  3.191000e+03  3.180000e+03
yardbuildingsqft26            3.105000e+02  8.680000e+02  8.560000e+02
yearbuilt                     1.987000e+03  2.016000e+03  1.920000e+02
numberofstories               2.000000e+00  6.000000e+00  5.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    2.187870e+05  1.142179e+07  1.142175e+07
taxvaluedollarcnt             5.690015e+05  4.906124e+07  4.906024e+07
assessmentyear                2.016000e+03  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         3.667965e+05  4.895220e+07  4.895204e+07
taxamount                     6.927790e+03  5.866393e+05  5.866194e+05
taxdelinquencyyear            1.500000e+01  9.900000e+01  9.600000e+01
censustractandblock           6.059042e+13  4.830301e+14  4.226591e+14
logerror                      3.920313e-02  5.262999e+00  9.918419e+00
============================================

### Prepare

In [6]:
# Prepping raw zillow data, imputing in year_built,
# dropping nulls, outliers and columns with too many null vals
# such as storytypeid with only 50 non-null vals

zillow_prep = wr.wrangle_zillow()

In [7]:
zillow_prep.shape

(50864, 25)

In [16]:
# Dropped column/row count
print(f'Dropped {zillow_raw.shape[1] - zillow_prep.shape[1]} \
columns. \nDropped {zillow_raw.shape[0] - zillow_prep.shape[0]} rows.')

Dropped 42 columns.
Dropped 26517 rows.

In [9]:
zillow_prep.head().T

id,1727539,1387261,11677,2288172,781532
bathrooms,3.5,1.0,2.0,3.0,3.0
bedrooms,4.0,2.0,3.0,4.0,4.0
quality_id,6.0,6.0,6.0,8.0,9.0
home_area,3100.0,1465.0,1243.0,2376.0,2962.0
latitude,33634931.0,34449266.0,33886168.0,34245180.0,34145202.0
longitude,-117869207.0,-119281531.0,-117823170.0,-118240722.0,-118179824.0
lot_area,4506.0,12647.0,8432.0,13038.0,63000.0
census_tb,60590630.072012,61110010.023006,60590218.022012,60373001.001006,60374608.001014
city_id,53571.0,13091.0,21412.0,396551.0,47019.0
county_id,1286.0,2061.0,1286.0,3101.0,3101.0
zip_code,96978.0,97099.0,97078.0,96330.0,96293.0
roomcnt,0.0,5.0,6.0,0.0,0.0
unitcnt,1.0,1.0,1.0,1.0,1.0
structure_tax,485713.0,88000.0,85289.0,108918.0,276684.0
tax_value,1023282.0,464000.0,564778.0,145143.0,773303.0
year_assessed,2016.0,2016.0,2016.0,2016.0,2016.0
land_tax_value,537569.0,376000.0,479489.0,36225.0,496619.0
yearly_tax,11013.72,5672.48,6488.3,1777.51,9516.26
logerror,0.025595,0.055619,0.005383,-0.10341,-0.001011
sale_date,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-01
heating_type,None,None,None,Central,Central
year_built,1998.0,1967.0,1962.0,1970.0,1950.0
county,Orange,Ventura,Orange,Los Angeles,Los Angeles
tax_rate,0.010763,0.012225,0.011488,0.012247,0.012306
month_sold,1,1,1,1,1

In [10]:
wr.summarize(zillow_prep)

=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 50864 entries, 1727539 to 2455685
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bathrooms       50864 non-null  float64
 1   bedrooms        50864 non-null  float64
 2   quality_id      50864 non-null  float64
 3   home_area       50864 non-null  float64
 4   latitude        50864 non-null  float64
 5   longitude       50864 non-null  float64
 6   lot_area        50864 non-null  float64
 7   census_tb       50864 non-null  float64
 8   city_id         50864 non-null  float64
 9   county_id       50864 non-null  float64
 10  zip_code        50864 non-null  float64
 11  roomcnt         50864 non-null  float64
 12  unitcnt         50864 non-null  float64
 13  structure_tax   50864 non-null  float64
 14  tax_value       50864 non-null  float64
 15  year_assessed   50864 non-null  float64
 16  land_tax_value  50864 non-null  float64
 17  yearly_tax      50864 non-null  float64
 18  logerror        50864 non-null  float64
 19  sale_date       50864 non-null  object
 20  heating_type    50864 non-null  object
 21  year_built      50864 non-null  float64
 22  county          50864 non-null  object
 23  tax_rate        50864 non-null  float64
 24  month_sold      50864 non-null  int64
dtypes: float64(21), int64(1), object(3)
memory usage: 10.1+ MB
None
=====================================================


Dataframe Description:
          bathrooms     bedrooms    quality_id     home_area      latitude  \
count  50864.000000  50864.00000  50864.000000  50864.000000  5.086400e+04
mean       2.277947      3.29512      6.154648   1889.541169  3.402195e+07
std        0.969526      0.91703      1.365535    908.131344  2.730059e+05
min        1.000000      1.00000      1.000000    360.000000  3.334062e+07
25%        2.000000      3.00000      6.000000   1264.000000  3.382746e+07
50%        2.000000      3.00000      6.000000   1648.000000  3.402101e+07
75%        3.000000      4.00000      7.000000   2276.000000  3.418633e+07
max       10.000000     11.00000     12.000000   7970.000000  3.481877e+07

          longitude      lot_area     census_tb        city_id     county_id  \
count  5.086400e+04  5.086400e+04  5.086400e+04   50864.000000  50864.000000
mean  -1.181936e+08  1.106919e+04  6.049531e+07   33540.983879   2524.301451
std    3.557143e+05  8.730486e+04  2.099668e+05   49237.717575    803.386776
min   -1.194753e+08  2.360000e+02  6.037101e+07    3491.000000   1286.000000
25%   -1.183967e+08  5.580000e+03  6.037401e+07   12447.000000   1286.000000
50%   -1.181518e+08  6.832000e+03  6.037603e+07   24812.000000   3101.000000
75%   -1.179296e+08  8.695500e+03  6.059042e+07   40227.000000   3101.000000
max   -1.175723e+08  6.971010e+06  6.111009e+07  396556.000000   3101.000000

       ...  unitcnt  structure_tax     tax_value  year_assessed  \
count  ...  50864.0   5.086400e+04  5.086400e+04        50864.0
mean   ...      1.0   1.852647e+05  4.945501e+05         2016.0
std    ...      0.0   1.924444e+05  5.035224e+05            0.0
min    ...      1.0   1.480000e+02  3.254000e+03         2016.0
25%    ...      1.0   7.660700e+04  1.911742e+05         2016.0
50%    ...      1.0   1.300780e+05  3.685415e+05         2016.0
75%    ...      1.0   2.203805e+05  6.081670e+05         2016.0
max    ...      1.0   3.097672e+06  4.993132e+06         2016.0

       land_tax_value    yearly_tax      logerror    year_built      tax_rate  \
count    5.086400e+04  50864.000000  50864.000000  50864.000000  50864.000000
mean     3.092854e+05   6033.204488      0.018053   1963.102568      0.013337
std      3.615551e+05   5814.044224      0.173756     22.882344      0.005640
min      1.610000e+02     49.180000     -4.655420   1878.000000      0.000094
25%      7.378575e+04   2628.002500     -0.024786   1950.000000      0.011645
50%      2.153890e+05   4588.240000      0.006834   1960.000000      0.012327
75%      4.040000e+05   7232.735000      0.040268   1978.000000      0.013670
max      4.847224e+06  61992.630000      3.394544   2016.000000      0.493647

         month_sold
count  50864.000000
mean       5.071111
std        2.349769
min        1.000000
25%        3.000000
50%        5.000000
75%        7.000000
max        9.000000

[8 rows x 22 columns]
=====================================================
DataFrame value counts:
(0.99, 1.9]    10183
(1.9, 2.8]     25498
(2.8, 3.7]     11109
(3.7, 4.6]      2751
(4.6, 5.5]       943
(5.5, 6.4]       261
(6.4, 7.3]        89
(7.3, 8.2]        25
(8.2, 9.1]         4
(9.1, 10.0]        1
Name: bathrooms, dtype: int64
(0.989, 2.0]     8758
(2.0, 3.0]      22944
(3.0, 4.0]      14765
(4.0, 5.0]       3735
(5.0, 6.0]        557
(6.0, 7.0]         86
(7.0, 8.0]         12
(8.0, 9.0]          5
(9.0, 10.0]         1
(10.0, 11.0]        1
Name: bedrooms, dtype: int64
(0.988, 2.1]        8
(2.1, 3.2]        142
(3.2, 4.3]       8000
(4.3, 5.4]       1472
(5.4, 6.5]      28241
(6.5, 7.6]       3192
(7.6, 8.7]       8075
(8.7, 9.8]       1045
(9.8, 10.9]       173
(10.9, 12.0]      516
Name: quality_id, dtype: int64
(352.389, 1121.0]     7736
(1121.0, 1882.0]     23545
(1882.0, 2643.0]     11292
(2643.0, 3404.0]      4894
(3404.0, 4165.0]      2010
(4165.0, 4926.0]       758
(4926.0, 5687.0]       332
(5687.0, 6448.0]       175
(6448.0, 7209.0]        86
(7209.0, 7970.0]        36
Name: home_area, dtype: int64
(33339141.852, 33488434.7]      702
(33488434.7, 33636249.4]       3106
(33636249.4, 33784064.1]       5892
(33784064.1, 33931878.8]      10785
(33931878.8, 34079693.5]       8822
(34079693.5, 34227508.2]      12109
(34227508.2, 34375322.9]       4548
(34375322.9, 34523137.6]       1471
(34523137.6, 34670952.3]       2181
(34670952.3, 34818767.0]       1248
Name: latitude, dtype: int64
(-119477167.928, -119284972.3]      149
(-119284972.3, -119094679.6]       1289
(-119094679.6, -118904386.9]        996
(-118904386.9, -118714094.2]       1768
(-118714094.2, -118523801.5]       3244
(-118523801.5, -118333508.8]       8759
(-118333508.8, -118143216.1]       9710
(-118143216.1, -117952923.4]      10914
(-117952923.4, -117762630.7]       9269
(-117762630.7, -117572338.0]       4766
Name: longitude, dtype: int64
(-6734.775000000001, 697313.4]    50844
(697313.4, 1394390.8]                 9
(1394390.8, 2091468.2]                2
(2091468.2, 2788545.6]                1
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                0
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lot_area, dtype: int64
(60370272.019999996, 60444919.091]    32851
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          13677
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.051]              0
(60740551.051, 60814459.041]              0
(60814459.041, 60888367.031]              0
(60888367.031, 60962275.021]              0
(60962275.021, 61036183.011]              0
(61036183.011, 61110091.001]           4336
Name: census_tb, dtype: int64
(3097.9339999999997, 42797.5]    38744
(42797.5, 82104.0]               10502
(82104.0, 121410.5]                823
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                17
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]               778
Name: city_id, dtype: int64
(1284.184, 1467.5]    13677
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       4336
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      32851
Name: county_id, dtype: int64
(95678.306, 126351.3]    50852
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: zip_code, dtype: int64
(-0.015, 1.4]    36549
(1.4, 2.8]           8
(2.8, 4.2]         570
(4.2, 5.6]        1860
(5.6, 7.0]        7459
(7.0, 8.4]        2779
(8.4, 9.8]        1156
(9.8, 11.2]        440
(11.2, 12.6]        32
(12.6, 14.0]        11
Name: roomcnt, dtype: int64

(0.9989, 0.9992]        0
(0.9992, 0.9994]        0
(0.9994, 0.9996]        0
(0.9996, 0.9998]        0
(0.9998, 1.0]       50864
(1.0, 1.0002]           0
(1.0002, 1.0004]        0
(1.0004, 1.0006]        0
(1.0006, 1.0008]        0
(1.0008, 1.001]         0
Name: unitcnt, dtype: int64
(-2949.525, 309900.4]     43692
(309900.4, 619652.8]       5428
(619652.8, 929405.2]       1082
(929405.2, 1239157.6]       415
(1239157.6, 1548910.0]      147
(1548910.0, 1858662.4]       57
(1858662.4, 2168414.8]       25
(2168414.8, 2478167.2]       12
(2478167.2, 2787919.6]        2
(2787919.6, 3097672.0]        4
Name: structure_tax, dtype: int64
(-1735.879, 502241.8]     33695
(502241.8, 1001229.6]     12222
(1001229.6, 1500217.4]     2727
(1500217.4, 1999205.2]     1112
(1999205.2, 2498193.0]      476
(2498193.0, 2997180.8]      293
(2997180.8, 3496168.6]      153
(3496168.6, 3995156.4]       91
(3995156.4, 4494144.2]       61
(4494144.2, 4993132.0]       34
Name: tax_value, dtype: int64
(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      50864
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: year_assessed, dtype: int64
(-4686.064, 484867.3]     41648
(484867.3, 969573.6]       6865
(969573.6, 1454279.9]      1368
(1454279.9, 1938986.2]      527
(1938986.2, 2423692.5]      246
(2423692.5, 2908398.8]      119
(2908398.8, 3393105.1]       62
(3393105.1, 3877811.4]       22
(3877811.4, 4362517.7]        6
(4362517.7, 4847224.0]        1
Name: land_tax_value, dtype: int64
(-12.764, 6243.525]      34460
(6243.525, 12437.87]     11818
(12437.87, 18632.215]     2591
(18632.215, 24826.56]     1021
(24826.56, 31020.905]      454
(31020.905, 37215.25]      259
(37215.25, 43409.595]      126
(43409.595, 49603.94]       73
(49603.94, 55798.285]       43
(55798.285, 61992.63]       19
Name: yearly_tax, dtype: int64
(-4.664000000000001, -3.85]        2
(-3.85, -3.045]                    0
(-3.045, -2.24]                   14
(-2.24, -1.435]                   16
(-1.435, -0.63]                  112
(-0.63, 0.175]                 47932
(0.175, 0.98]                   2594
(0.98, 1.785]                    102
(1.785, 2.59]                     83
(2.59, 3.395]                      9
Name: logerror, dtype: int64
2017-06-30    790
2017-04-28    593
2017-05-31    552
2017-07-28    524
2017-08-31    516
             ...
2017-05-20      1
2017-03-25      1
2017-04-08      1
2017-07-08      1
2018-05-25      1
Name: sale_date, Length: 257, dtype: int64
Central       19937
None          17999
Floor/Wall    12355
Forced air      508
Solar            49
Baseboard         7
Radiant           6
Gravity           2
Yes               1
Name: heating_type, dtype: int64
(1877.861, 1891.8]       22
(1891.8, 1905.6]        162
(1905.6, 1919.4]       1008
(1919.4, 1933.2]       3948
(1933.2, 1947.0]       4783
(1947.0, 1960.8]      15689
(1960.8, 1974.6]      10101
(1974.6, 1988.4]       6813
(1988.4, 2002.2]       5535
(2002.2, 2016.0]       2803
Name: year_built, dtype: int64
Los Angeles    32851
Orange         13677
Ventura         4336
Name: county, dtype: int64
(-0.0014, 0.0494]    50781
(0.0494, 0.0988]        58
(0.0988, 0.148]         17
(0.148, 0.198]           2
(0.198, 0.247]           1
(0.247, 0.296]           2
(0.296, 0.346]           1
(0.346, 0.395]           0
(0.395, 0.444]           0
(0.444, 0.494]           2
Name: tax_rate, dtype: int64
(0.991, 1.8]    4591
(1.8, 2.6]      4091
(2.6, 3.4]      6055
(3.4, 4.2]      5693
(4.2, 5.0]      6948
(5.0, 5.8]         0
(5.8, 6.6]      7655
(6.6, 7.4]      6204
(7.4, 8.2]      6514
(8.2, 9.0]      3113
Name: month_sold, dtype: int64
=====================================================
nulls in dataframe by column:
                num_rows_missing  percent_rows_missing
bathrooms                      0                   0.0
bedrooms                       0                   0.0
quality_id                     0                   0.0
home_area                      0                   0.0
latitude                       0                   0.0
longitude                      0                   0.0
lot_area                       0                   0.0
census_tb                      0                   0.0
city_id                        0                   0.0
county_id                      0                   0.0
zip_code                       0                   0.0
roomcnt                        0                   0.0
unitcnt                        0                   0.0
structure_tax                  0                   0.0
tax_value                      0                   0.0
year_assessed                  0                   0.0
land_tax_value                 0                   0.0
yearly_tax                     0                   0.0
logerror                       0                   0.0
sale_date                      0                   0.0
heating_type                   0                   0.0
year_built                     0                   0.0
county                         0                   0.0
tax_rate                       0                   0.0
month_sold                     0                   0.0
=====================================================
nulls in dataframe by row:
  num_cols_missing percent_cols_missing     id
0                0                  0.0  50864
=====================================================
Column Stats:
                  count          mean            std           min  \
bathrooms       50864.0  2.277947e+00       0.969526  1.000000e+00
bedrooms        50864.0  3.295120e+00       0.917030  1.000000e+00
quality_id      50864.0  6.154648e+00       1.365535  1.000000e+00
home_area       50864.0  1.889541e+03     908.131344  3.600000e+02
latitude        50864.0  3.402195e+07  273005.908181  3.334062e+07
longitude       50864.0 -1.181936e+08  355714.275372 -1.194753e+08
lot_area        50864.0  1.106919e+04   87304.858962  2.360000e+02
census_tb       50864.0  6.049531e+07  209966.768060  6.037101e+07
city_id         50864.0  3.354098e+04   49237.717575  3.491000e+03
county_id       50864.0  2.524301e+03     803.386776  1.286000e+03
zip_code        50864.0  9.664071e+04    4674.339302  9.598200e+04
roomcnt         50864.0  1.916837e+00       3.157780  0.000000e+00
unitcnt         50864.0  1.000000e+00       0.000000  1.000000e+00
structure_tax   50864.0  1.852647e+05  192444.432618  1.480000e+02
tax_value       50864.0  4.945501e+05  503522.381379  3.254000e+03
year_assessed   50864.0  2.016000e+03       0.000000  2.016000e+03
land_tax_value  50864.0  3.092854e+05  361555.075239  1.610000e+02
yearly_tax      50864.0  6.033204e+03    5814.044224  4.918000e+01
logerror        50864.0  1.805334e-02       0.173756 -4.655420e+00
year_built      50864.0  1.963103e+03      22.882344  1.878000e+03
tax_rate        50864.0  1.333739e-02       0.005640  9.372442e-05
month_sold      50864.0  5.071111e+00       2.349769  1.000000e+00

                         25%           50%           75%           max  \
bathrooms       2.000000e+00  2.000000e+00  3.000000e+00  1.000000e+01
bedrooms        3.000000e+00  3.000000e+00  4.000000e+00  1.100000e+01
quality_id      6.000000e+00  6.000000e+00  7.000000e+00  1.200000e+01
home_area       1.264000e+03  1.648000e+03  2.276000e+03  7.970000e+03
latitude        3.382746e+07  3.402101e+07  3.418633e+07  3.481877e+07
longitude      -1.183967e+08 -1.181518e+08 -1.179296e+08 -1.175723e+08
lot_area        5.580000e+03  6.832000e+03  8.695500e+03  6.971010e+06
census_tb       6.037401e+07  6.037603e+07  6.059042e+07  6.111009e+07
city_id         1.244700e+04  2.481200e+04  4.022700e+04  3.965560e+05
county_id       1.286000e+03  3.101000e+03  3.101000e+03  3.101000e+03
zip_code        9.620600e+04  9.641500e+04  9.699600e+04  3.996750e+05
roomcnt         0.000000e+00  0.000000e+00  5.000000e+00  1.400000e+01
unitcnt         1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
structure_tax   7.660700e+04  1.300780e+05  2.203805e+05  3.097672e+06
tax_value       1.911742e+05  3.685415e+05  6.081670e+05  4.993132e+06
year_assessed   2.016000e+03  2.016000e+03  2.016000e+03  2.016000e+03
land_tax_value  7.378575e+04  2.153890e+05  4.040000e+05  4.847224e+06
yearly_tax      2.628003e+03  4.588240e+03  7.232735e+03  6.199263e+04
logerror       -2.478604e-02  6.834412e-03  4.026849e-02  3.394544e+00
year_built      1.950000e+03  1.960000e+03  1.978000e+03  2.016000e+03
tax_rate        1.164452e-02  1.232665e-02  1.366970e-02  4.936474e-01
month_sold      3.000000e+00  5.000000e+00  7.000000e+00  9.000000e+00

                       range
bathrooms       9.000000e+00
bedrooms        1.000000e+01
quality_id      1.100000e+01
home_area       7.610000e+03
latitude        1.478147e+06
longitude       1.902927e+06
lot_area        6.970774e+06
census_tb       7.390799e+05
city_id         3.930650e+05
county_id       1.815000e+03
zip_code        3.036930e+05
roomcnt         1.400000e+01
unitcnt         0.000000e+00
structure_tax   3.097524e+06
tax_value       4.989878e+06
year_assessed   0.000000e+00
land_tax_value  4.847063e+06
yearly_tax      6.194345e+04
logerror        8.049964e+00
year_built      1.380000e+02
tax_rate        4.935537e-01
month_sold      8.000000e+00
============================================